<div id="banner" class="owl-carousel owl-theme">
  <div class="item">
    <div class="banner1">
      <h1>欢迎来到菲姆斯！</h1>
    </div>
  </div>
  <div class="item"><div class="banner1"></div></div>
  <div class="item"><div class="banner1"></div></div>
  <div class="item"><div class="banner1"></div></div>
</div>
<div class="customNavigation">
  <a class="btn prev" ng-click="vm.next()">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="btn next" ng-click="vm.prev()">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>
  <!--<div class="owl-buttons">-->
    <!--<div class="owl-prev">-->
      <!--<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>-->
    <!--</div>-->
    <!--<div class="owl-next">-->
      <!--<span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>-->

    <!--</div>-->
  <!--</div>-->

